REACT_APP_SUPABASE_URL=https://wulnjfqdbjjtvmzwqega.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1bG5qZnFkYmpqdHZtendxZWdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2ODYyMTUsImV4cCI6MjA5MzI2MjIxNX0.o1JfIbhe2Tpl3UqMSNhPcrtB0crRKBRMckxqc1RdC6c
